# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data and Models (DO NOT COMMIT TO GIT)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
models/*.pkl
models/*.h5
models/*.pt
models/*.joblib

# System
.DS_Store
Thumbs.db
my_learning.txt
